Repository manassevisser-dot/huishoudApp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --rule 'no-unused-vars: off' --rule '@typescript-eslint/no-unused-vars: off', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --rule 'no-unused-vars: off' --rule '@typescript-eslint/no-unused-vars: off'"
  ],
  "*.{ts,tsx,js,jsx,css,md,json}": [
    "prettier --write"
  ]
}

Add files via upload
  chats/rawdata/claude/claude_AI CTO initialization and project planning - Claude.md
  chats/rawdata/claude/claude_Analyse, vergelijking en aanbevelingen - Claude.md
  chats/rawdata/claude/claude_Applying a specific diff - Claude.md
  chats/rawdata/claude/claude_Audit-script optimalisatie voor WAI-001 tot WAI-006 - Claude.md
  chats/rawdata/claude/claude_Audit-script update en verbeterpunten analyseren - Claude.md
  chats/rawdata/claude/claude_CSV service parsing and validation improvements - Claude.md
  chats/rawdata/claude/claude_CTO statusrapport fase 3 audit goedgekeurd - Claude.md
  chats/rawdata/claude/claude_CU-assembler prompt optimalisatie voor WAI-audit - Claude.md
  chats/rawdata/claude/claude_CU-assembler ultimate prompt ophalen - Claude.md
  chats/rawdata/claude/claude_Claude.md
  chats/rawdata/claude/claude_Code analyse en verbeteringsadvies - Claude.md
  chats/rawdata/claude/claude_Dagelijkse invoer voor transactiebeheer - Claude.md
  chats/rawdata/claude/claude_Financial household management app architecture - Claude.md
  chats/rawdata/claude/claude_Flow 2 architect prompt evaluation - Claude.md
  chats/rawdata/claude/claude_Flow 6 analyse en optimalisatie - Claude.md
  chats/rawdata/claude/claude_Haakje of puntkomma zoeken in code - Claude.md
  chats/rawdata/claude/claude_Identificatie bestanden voor theme-code integratie - Claude.md
  chats/rawdata/claude/claude_Implementation plan development - Claude.md
  chats/rawdata/claude/claude_Lyra budget app phase 4 implementation - Claude.md
  chats/rawdata/claude/claude_MVP-prioritering beslissingsmatrix voor features - Claude.md
  chats/rawdata/claude/claude_Mappenstructuur aanmaken - Claude.md
  chats/rawdata/claude/claude_Markdown bestanden combineren met PowerShell - Claude (1).md
  chats/rawdata/claude/claude_Markdown bestanden combineren met PowerShell - Claude.json
  chats/rawdata/claude/claude_Markdown bestanden combineren met PowerShell - Claude.md
  chats/rawdata/claude/claude_Mermaid chart van code - Claude.md
  chats/rawdata/claude/claude_Prompt optimization en vergelijking PR2 - Claude.md
  chats/rawdata/claude/claude_Protocol en documentenanalyse met validatie - Claude.md
  chats/rawdata/claude/claude_React Native app wizard flow implementation - Claude.md
  chats/rawdata/claude/claude_React Native financiële app consolidatie - Claude.md
  chats/rawdata/claude/claude_Resuming project development context - Claude.md
  chats/rawdata/claude/claude_Scripts analyseren en verbeteringsadvies - Claude.md
  chats/rawdata/claude/claude_Scripts organiseren en opschonen - Claude.md
  chats/rawdata/claude/claude_Verbeteringssuggestions gevraagd - Claude.md
  chats/rawdata/claude/claude_W&I Excel UserForms Wizard v5.3 handover analysis - Claude (1).md
  chats/rawdata/claude/claude_W&I Excel UserForms Wizard v5.3 handover analysis - Claude.md
  chats/rawdata/claude/claude_Wat is dit_ - Claude.md
  chats/rawdata/claude/claude_conversation_W&I Excel UserForms Wizard v5.3 handover analysis - Claude.md
  chats/rawdata/claude/gemini_Google Gemini.md
Due: prettier --write

Create .gitkeep
  chats/rawdata/gas/.gitkeep
Due: none

Pipedream - json to git (p_OKCdQBk)
  chats/rawdata/gas/chat_1768077198260.md
Due: prettier --write

Pipedream - json to git (p_OKCdQBk)
  chats/rawdata/gas/chat_1768077314071.json
Due: prettier --write

Pipedream - json to git (p_OKCdQBk)
  chats/rawdata/gas/chat_2026-01-10T20:36:50.896Z.json
Due: prettier --write

feat(validation): add runtime parser with Zod - Step 3.2 (CU-003)\n\nREFs: ADR-21, ADR-02, ADR-06\nPhase: P3.2-runtime-parser\nToken: TOKEN-ID-KAI-CU-003-STEP2\nDepends: CU-003-STEP1
  src/domain/validation/runtimeParser.ts
Due: eslint --fix --rule 'no-unused-vars: off' --rule '@typescript-eslint/no-unused-vars: off', prettier --write

refactor(adapters): immutable hash binding for storage and csv (CU-004)
  src/services/__tests__/migration.members.test.ts
  src/services/transactionService.ts
Due: eslint --fix --rule 'no-unused-vars: off' --rule '@typescript-eslint/no-unused-vars: off', prettier --write

refactor(date): migrate all consumers + introduce alias for date.ts; feat(domain/ui): final batch migration from date.ts per SVZ-2-K
  SVZ-0-TODO-001-LINES-date.ts.json
  SVZ-0-todo-001.json
  legacy_functions.txt
  new_functions.txt
  scripts/codemods/migrate-date-imports.js
  src/app/orchestrators/dateOrchestrator.ts
  src/domain/helpers/DateHydrator.ts
  src/domain/helpers/TimeProvider.ts
  src/domain/rules/ageBoundaryRules.ts
  src/domain/rules/ageRules.ts
  src/domain/validation/dateValidators.ts
  src/domain/validation/fieldValidator.ts
  src/infrastructure/clock/LocalNoonClock.ts
  src/infrastructure/clock/LocalNoonClockPort.ts
  src/ui/components/fields/DateField.tsx
  src/ui/helpers/dateFormatting.ts
  src/ui/screens/CSV/CsvUploadScreen.tsx
  src/utils/__tests__/date.test.ts
  src/utils/__tests__/validation.test.ts
  src/utils/date.ts
  src/utils/index.ts
  todo.txt
  tsconfig.json
Due: eslint --fix --rule 'no-unused-vars: off' --rule '@typescript-eslint/no-unused-vars: off', prettier --write

feat(domain/ui): add ValueProvider, StateWriter, UI_SECTIONS (P1 foundation)
  src/app/orchestrators/FormStateOrchestrator.ts
  src/domain/interfaces/StateWriter.ts
  src/domain/interfaces/ValueProvider.ts
  src/ui/constants/uiSections.ts
Due: eslint --fix --rule 'no-unused-vars: off' --rule '@typescript-eslint/no-unused-vars: off', prettier --write

refactor(ui): decouple FieldRenderer, ConditionalField, WizardPage from state structure (P2)
  src/ui/components/FieldRenderer.tsx
  src/ui/components/fields/ConditionalField.tsx
  src/ui/screens/Wizard/WizardPage.tsx
Due: eslint --fix --rule 'no-unused-vars: off' --rule '@typescript-eslint/no-unused-vars: off', prettier --write

test(app): add ORCH-VP-001 unit test for getValue
  src/app/orchestrators/__tests__/ORCH-VP-001.test.ts
Due: eslint --fix --rule 'no-unused-vars: off' --rule '@typescript-eslint/no-unused-vars: off', prettier --write

test(app): add ORCH-SW-001 unit test for updateField
  src/app/orchestrators/__tests__/ORCH-SW-001.test.ts
Due: eslint --fix --rule 'no-unused-vars: off' --rule '@typescript-eslint/no-unused-vars: off', prettier --write

refactor(ui): decouple FieldRenderer from state structure
  src/ui/components/FieldRenderer.tsx
Due: eslint --fix --rule 'no-unused-vars: off' --rule '@typescript-eslint/no-unused-vars: off', prettier --write

refactor(ui): decouple ConditionalField from state structure
  src/ui/components/fields/ConditionalField.tsx
Due: eslint --fix --rule 'no-unused-vars: off' --rule '@typescript-eslint/no-unused-vars: off', prettier --write

refactor(ui): decouple WizardPage from state structure
  src/ui/screens/Wizard/WizardPage.tsx
Due: eslint --fix --rule 'no-unused-vars: off' --rule '@typescript-eslint/no-unused-vars: off', prettier --write

refactor(ui): decouple FormField from state structure
  src/ui/components/fields/FormField.tsx
Due: eslint --fix --rule 'no-unused-vars: off' --rule '@typescript-eslint/no-unused-vars: off', prettier --write

refactor(ui): decouple 1setupHousehold.config from logic
  src/ui/screens/Wizard/pages/1setupHousehold.config.ts
Due: eslint --fix --rule 'no-unused-vars: off' --rule '@typescript-eslint/no-unused-vars: off', prettier --write

refactor(ui): decouple 2detailsHousehold.config from logic
  src/ui/screens/Wizard/pages/2detailsHousehold.config.ts
Due: eslint --fix --rule 'no-unused-vars: off' --rule '@typescript-eslint/no-unused-vars: off', prettier --write

refactor(ui): decouple 3incomeDetails.config from logic
  src/ui/screens/Wizard/pages/3incomeDetails.config.ts
Due: eslint --fix --rule 'no-unused-vars: off' --rule '@typescript-eslint/no-unused-vars: off', prettier --write

refactor: orchestrators aligned and linting core logic fixed -UI WIP
  .gitignore
Due: none

Rename extract_html_text.py to extract_html_text.py
  extract_html_text.py
Due: none

chore: add audit and analysis scripts
  adr-compliance.sh
  audit-static.sh
  chain_check.sh
  collect_headers.sh
  dependency-graph.sh
  flow_trace.sh
  forbidden-patterns.sh
  formcontext-checklist.sh
  instance.sh
  nav_check.sh
  phoenix-audit-full-architecture.sh
  scripts/check-adr.sh
  scripts/temp/consolidate-test-utils.sh
  scripts/temp/fix_architecture_properly.sh
  scripts/temp/fix_compilation_errors.sh
  scripts/temp/fix_final_consistency.sh
  scripts/temp/fix_final_types_v2.sh
  scripts/temp/fix_focus_test_mock.sh
  scripts/temp/fix_imports_final.sh
  scripts/temp/fix_state_helper.sh
  scripts/temp/restore_real_implementation.sh
  sentinel-patterns.sh
  test-cases.sh
Due: none

chore: save work in progress 23-02-2026
  package-lock.json
  package.json
  src/adapters/csv/csvAdapter.test.ts
  tsconfig.check.json
  tsconfig.json
Due: eslint --fix --rule 'no-unused-vars: off' --rule '@typescript-eslint/no-unused-vars: off', prettier --write

test: add Phase 1+2 unit tests (73 passing) �
  src/app/orchestrators/FinancialOrchestrator.test.ts
  src/app/orchestrators/NavigationOrchestrator.test.ts
  src/app/orchestrators/NavigationOrchestrator.ts
  src/app/orchestrators/ResearchOrchestrator.test.ts
  src/app/orchestrators/ResearchOrchestrator.ts
  src/app/orchestrators/ValidationOrchestrator.test.ts
  src/app/orchestrators/VisibilityOrchestrator.test.ts
  src/app/orchestrators/VisibilityOrchestrator.ts
  src/app/orchestrators/managers/DataManager.test.ts
  src/app/state/formReducer.test.ts
  src/domain/constants/uiSections.test.ts
  src/domain/constants/uiSections.ts
  src/domain/registry/ScreenRegistry.ts
  src/domain/registry/SectionRegistry.ts
  src/services/migrationService.test.ts
  src/ui/screens/CSV/CsvUploadScreen.tsx
Due: eslint --fix --rule 'no-unused-vars: off' --rule '@typescript-eslint/no-unused-vars: off', prettier --write

fix: CsvItem type completeness in ResearchOrchestrator test, DeepPartial voor UPDATE_DATA payload
  .gitignore
  SAMENVATTING/app_journey_20260104_135051.jsonl
  SAMENVATTING/app_journey_20260104_135051.md
  _trash/Swipe_Archeologie.txt
  app_journey_20260104_132855.md
  chat_files/chatgpt_Code review feedback.md
  src/adapters/StateWriter/StateWriterAdapter.ts
  src/app/orchestrators/ResearchOrchestrator.test.ts
  src/app/state/formReducer.ts
Due: eslint --fix --rule 'no-unused-vars: off' --rule '@typescript-eslint/no-unused-vars: off', prettier --write
